body {
  margin: 0;
  overflow: hidden;
  font-family: 'Great Vibes', cursive;
  background: radial-gradient(circle, #120012, #000);
}

/* LOCK SCREEN */
#lockScreen {
  position: fixed;
  inset: 0;
  background: radial-gradient(circle, #1a001a, #000);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#lockScreen input {
  padding: 12px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  margin: 15px;
}

#lockScreen button {
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 30px;
  background: hotpink;
  border: none;
  color: white;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* CONTENT */
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 10;
}

.title {
  font-size: 70px;
  text-shadow: 0 0 30px hotpink;
}

#typewriter {
  font-size: 28px;
  margin: 20px;
}

#yesBtn {
  padding: 15px 45px;
  font-size: 26px;
  border-radius: 50px;
  background: linear-gradient(45deg, hotpink, red);
  border: none;
  color: white;
  cursor: pointer;
}
